.wrapper{
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  font: tahoma;
  color: #404040;
}

.title{
  display: flex;
  align-items: center;
  background-color: #404040;
  min-height: 8vh;
}

.content{
  display: flex;
  min-height: 85vh;
}

.left-content{
  display: flex;
  flex-direction: column;
  max-width: 25vw;
  min-width: 25vw;
  padding-left: 1.75rem;
  color: dimgray;
  margin: 0px;
}

.App-link{
  color: #61dafb;
}

.userTop{
  display: flex;
  flex-direction: column;
  min-height: 55vh;
  padding-left: 5px;
}

.userStats{
  height: auto;
  font-size: 1rem;
  display: flex;
  justify-content: flex-start;;
  margin: 0px;
  padding: 30px 5px;
}

.userBottom{
  display: flex;
  flex-direction: column;
  height: 100%;
  align-self: stretch;
}

.profilePic{
  width: 100%;
  border-radius: 50%;
  align-self: start;
  margin-top: 10px;
}

.name{
  font-size: 1.7rem;
  align-self: flex-start;
  margin-top: 1rem;
  color: #404040;
  font-weight: bold;;
}

.login{
  font-size: 1.2rem;
  align-self: flex-start;
}

.bio{
  font-size: 1.4rem;
  align-self: flex-start;
  margin-top: 1rem;
  color: #404040;
}

.location{
  font-size: 1.2rem;
}

.stats{
  color: #404040;
  font-weight: bold;
}

.stats:hover {
  color: dodgerblue;
  text-decoration: none;
  cursor: pointer;
}

.statImg{
  margin: 0px 5px;
}

.locationImg{
  margin: 0px 5px;
}

.logo{
  height: 5vh;
  margin-left: 3rem;
}

/* unvisited link */


.footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  font-size: 1rem;
  border-top: 1px solid dimgray;
  margin: 0px 50px;
}

div.navStats a:hover {
  color: dodgerblue;
  text-decoration: none;
  cursor: pointer;
}

a:link, a:visited{
  color: dodgerblue;
  text-decoration: none;
}

a:hover, a:active{
  color: dodgerblue;
  text-decoration: underline;
}

span{
  padding: 0px 10px;
  padding-top: 10px;
}

span.stats{
  padding: 0px;
}
